<html>

<head>
    <title> {{title}} {{version}} </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>

<body>

    <h1>
        <img width=30px height=30px src="{{ url_for('static', filename='images/logo.png') }}" alt="">
        {{title}}
        <span class="lbl-version">
            {{version}}
        </span>
    </h1>

    <form id="form">

        <div class="buttons">
            <input type="file" id="file" name="file[]" multiple required/>
            <label class="btn accent" for="file"> Add Documents </label>
            <input id="submitButton" type="submit" class="btn right" value="Convert">
        </div>

        <div class="files">

            <div class="info">
                <span id="count">0 Document </span>
                <span class="dropped-file-close" id="clearList"> Clear All </span>
            </div>

            <hr>

            <ol id="dropped-files"></ol>
        </div>
    </form>

    <script src="{{ url_for('static', filename='js/axios.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>